// $background-darker: #202442;
// $base-background: #2C3157;
// $menu-text-color: #655E92;
// $base-font-size: 16px;
// $white-color: #8D93C2;
// $base-font-family: 'Assistant';
// $hover-color: #7F5CDA;

@font-face {
  font-family: 'Assistant';
  src: local('Assistant'), url(./assets/fonts/Assistant-SemiBold.ttf) format('truetype');
}

p {
  font-family: 'Assistant';
}

a {
  text-decoration: none;
}

small {
  color: #655E92;
  font-weight: 700;
}

form {
  margin-top: 25px;
}


p {
  margin: 0;
  color: #fff;
}

