$background-darker: #202442;
$base-background: #2C3157;
$menu-text-color: #4E537F;
$base-font-size: 16px;
$white-color: #8D93C2;
$base-font-family: 'Assistant';

@font-face {
  font-family: 'Assistant';
  src: local('Assistant'), url(./assets/fonts/Assistant-SemiBold.ttf) format('truetype');
}

p {
  font-family: $base-font-family;
}

.navigation_menu {
  background-color: $background-darker;
  height:100vh;
  width:25%;
  padding: 25px;

}

.menu_item_wrapper {
  display: flex;
  flex-direction: column;

    span {
      background-color: $background-darker;
      padding:25px;
      border-radius: 15px;
      text-align: left;
      color: $menu-text-color;
      font-family: $base-font-family;
      align-items: center;
      display: flex;

      svg {
        margin-right: 15px;
        font-size: 25px;
      }

      &:hover {
        background: $base-background;
        color: #7F5CDA;
        cursor: pointer;


        button {
          background: $base-background;
          color: $white-color;
          cursor: pointer;

        }
      }

      button {
        background-color: $background-darker;
        color: $menu-text-color;
        border: none;
        font-size: $base-font-size;
        font-family: $base-font-family;
      }
    }
}

.user_avatar_wrapper {
  display:flex;
  flex-direction: row;
  border: 1px solid $base-background;
  border-radius: 15px;
  height:50px;
  width: 75%;
  align-items: center;
  margin: 0 0 30px 25px;
}

.user_avatar_photo {
  width:auto;
  height:40px;
  border-radius: 25px;
  margin-right: 15px;
}

.front_page_wrapper {
  display:flex;
  flex-direction: row;
}

.app_main {
  background-color: #25294A;
  min-height: 100vh;
  padding: 25px 50px 0 50px;
  display: flex;
  color: white;
  width:100%;
}

.grid_container {
  display: grid;
  grid-gap: 1em;
  width:100%;
  // grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  height: 80vh;
  

  .grid_header {
    grid-column: span 3;

  }

  .grid_item_5 {
    grid-column: 2 / 4;
  }

  .grid_item {
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap:10px;
    padding: 1em;
    border-radius: 15px;

    div {
      border: 1px solid white;

    }
  }
}

p {
  margin: 0;
  color: #fff;
}